* {
  box-sizing: border-box;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
@media (min-width: 768px) {
  .container {
    width: 734px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 954px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1154px;
  }
}
@media (max-width: 768px) {
  #ad {
    box-shadow: 0 0 12px 0;
    margin-top: 59px!important;
  }
  .hot2 {
    width: 50% !important;
    height: 40% !important;
  }
  .hot2 > img {
    width: 100% !important;
    height: 100% !important;
  }
  #main01 .main_list li > a div:nth-child(2) {
    text-overflow: ellipsis !important;
    width: 90px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
  }
  a.car {
    top: -90px !important;
    left: 0 !important;
    z-index: -1 !important;
  }
  #main01 .main_list li {
    width: 18% !important;
    height: 0% !important;
    font-size: 10px;
  }
  #main01 .main_list li > div {
    display: none;
  }
  :hover > a.car {
    left: 55px !important;
  }
  #footer > div.foot-logo {
    padding-left: 80px;
  }
}
div,
ul:before {
  content: ' ';
  clear: both;
}
div,
ul:after {
  content: ' ';
  clear: both;
}
body {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/****** 页头 ******/
#header_gray {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: #EEEEEE;
  font-size: 11px;
  color: #868686;
}
#header_gray .geo-location {
  float: left;
  margin-left: 100px;
}
#header_gray .geo-location :first-child a {
  color: #868686;
}
#header_gray .geo-location :last-child a {
  color: #64A131;
}
#header_gray ul {
  float: right;
}
#header_gray ul a {
  color: #868686;
  text-decoration: none;
}
#header_gray ul a:hover {
  color: #F6AB00;
}
#header_gray ul div.fruit_1 {
  position: absolute;
  top: 30px;
  left: 822px;
  display: none;
  width: 280px;
  height: 150px;
  background-color: #fff;
  box-shadow: 0 6px 6px 2px;
  z-index: 200;
}
#header_gray ul div.fruit_1 div {
  font-size: 12px;
  margin-left: 20px;
  padding: 3px;
  width: 220px;
  height: 30px;
  border-bottom: 1px dashed #d5d5d5;
  margin-top: 5px;
}
#header_gray ul div.fruit_1 div p {
  display: inline-block;
  width: 40px;
  height: 18px;
  background: red;
  line-height: 18px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  border-radius: 5px;
}
#header_gray ul div.fruit_1 div a {
  color: #000;
  text-decoration: none;
  margin-right: 1px;
}
#header_gray ul div.fruit_1 div:last-child {
  font-size: 12px;
  margin-left: 20px;
  padding: 10px;
  width: 220px;
  text-align: center;
  border-bottom: none;
}
#header_gray ul div.fruit_1 div:last-child a {
  color: #64A131;
}
#header_gray ul div.fruit_2 {
  position: absolute;
  top: 30px;
  right: 140px;
  display: none;
  z-index: 200;
  box-shadow: 0 6px 6px 0;
}
#header_gray li {
  float: left;
  margin: 0 8px;
}
#header_gray li span {
  color: #64A131;
}
#header_gray li[id="fgg"]:hover {
  background: #fff;
}
#header_gray li[id="phone_gy"]:hover {
  background: #fff;
}
#header_white {
  height: 144px;
  padding-top: 22px;
  box-shadow: 1px -6px 20px 0px;
}
#header_white a.logo {
  display: inline-block;
  vertical-align: bottom;
  width: 300px;
  height: 78px;
  margin-left: 100px;
  margin-right: 35px;
  background-image: url("../img/logo.png");
  background-size: 300px 78px;
}
#header_white ul {
  padding-top: 40px;
  display: inline-block;
}
#header_white li {
  float: left;
  height: 41px;
  border-right: 1px solid rgba(186, 186, 186, 0.53);
  text-align: center;
}
#header_white li a {
  display: block;
  margin: 1px 25px;
  color: #868686;
  text-decoration: none;
}
#header_white li :hover {
  color: #64A131;
}
#header_white li span {
  display: block;
}
#header_white li:hover {
  background: rgba(216, 216, 216, 0.33);
}
#header_white li:hover i {
  display: block;
  width: 100%;
  border-top: 2px solid #64A131;
  margin-top: 38px;
}
#header_white li.active i {
  display: block;
  width: 100%;
  border-top: 2px solid #64A131;
  margin-top: 38px;
}
#header_white .search_bar {
  margin-left: 15%;
  display: inline-block;
}
#header_white .search_bar #search {
  border: none;
  width: 200px;
  outline: none;
  padding: 5px;
  border-bottom: 1px solid #868686;
  margin-bottom: 5px;
}
#header_white .search_bar span {
  font-size: 16px;
  color: #64A131;
  position: relative;
  left: -30px;
}
#header_white .search_bar p,
#header_white .search_bar a {
  color: #999;
}
#header_white .shopping_car {
  position: absolute;
  right: 75px;
  top: 60px;
}
#header_white .shopping_car > p {
  position: absolute;
  top: 0;
  left: 11px;
  color: #fff;
  width: 20px;
  text-align: center;
}
#header_white .car_detail {
  width: 335px;
  height: 402px;
  background: #fff;
  position: absolute;
  top: 88px;
  right: -32px;
  z-index: 200;
  display: none;
  box-shadow: 0 0 6px 1px;
}
#header_white .car_detail li {
  text-align: left;
  height: 110px;
}
#header_white .car_detail ul {
  width: 335px;
  height: 300px;
  overflow-y: scroll;
}
#header_white .car_detail ul,
#header_white .car_detail li {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #999;
}
#header_white .car_detail ul :hover,
#header_white .car_detail li :hover {
  background: transparent;
  color: #999;
}
#header_white .car_detail ul > div,
#header_white .car_detail li > div {
  width: 90%;
  height: 110px;
  margin-left: 13px;
  border-bottom: 1px dashed #999999;
}
#header_white .car_detail ul > div .car_detail_pic,
#header_white .car_detail li > div .car_detail_pic {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 13px;
  box-shadow: 0 0 6px 0;
}
#header_white .car_detail ul > div .car_detail_pic img,
#header_white .car_detail li > div .car_detail_pic img {
  width: 80px;
  height: 80px;
  vertical-align: inherit;
}
#header_white .car_detail ul > div .car_detail_content,
#header_white .car_detail li > div .car_detail_content {
  margin-left: 13px;
  position: relative;
  top: -13px;
  display: inline-block;
}
#header_white .car_detail ul > div .car_detail_content button,
#header_white .car_detail li > div .car_detail_content button,
#header_white .car_detail ul > div .car_detail_content input,
#header_white .car_detail li > div .car_detail_content input {
  margin: -2px;
  width: 20px;
  height: 22px;
}
#header_white .car_detail ul > div .car_detail_content button,
#header_white .car_detail li > div .car_detail_content button {
  padding: 0;
  background-color: #F1F1F1;
  border: 1px solid #DDDDDD;
}
#header_white .car_detail ul > div .car_detail_content :first-child,
#header_white .car_detail li > div .car_detail_content :first-child {
  margin-left: 2px;
}
#header_white .car_detail ul > div .car_detail_content input,
#header_white .car_detail li > div .car_detail_content input {
  text-align: center;
  border: 0;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}
#header_white .car_detail ul > div .car_detail_content a,
#header_white .car_detail li > div .car_detail_content a {
  display: inline-block;
  margin-left: 80px;
  margin-right: 0;
  color: #000;
}
#header_white .car_detail .car_count {
  margin: 10px;
}
#header_white .car_detail .car_count > div {
  margin-top: 20px;
}
#header_white .car_detail .car_count div > span:last-child {
  color: #64A131;
  font-weight: bold;
}
#header_white .car_detail .car_count div > span:nth-child(2) {
  margin-left: 100px;
}
#header_white .car_detail .car_count div > span > span {
  color: #64A131;
  font-weight: bold;
}
#header_white .car_detail .car_count a {
  width: 95%;
  height: 42px;
  font-size: 20px;
  background: #64A131;
  margin: 10px 0 0 10px;
}
#header_white .car_detail_none {
  display: none;
  background: #fff;
  position: absolute;
  top: 92px;
  right: 0;
  z-index: 200;
  width: 335px;
  height: 100px;
  box-shadow: 0 0 6px 0;
}
#header_white .car_detail_none > div {
  margin-left: 50px;
  margin-top: 40px;
  color: #999999;
}
/***** 页尾 *******/
#footer {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
#footer .foot-ad ul {
  width: 100%;
  height: 100px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}
#footer .foot-ad li {
  float: left;
  list-style: none;
  width: 25%;
  height: 60px;
  box-sizing: border-box;
  margin-top: 20px;
}
#footer .foot-ad li:first-child {
  background: url("../img/foot.png") 40px 0 no-repeat;
}
#footer .foot-ad li:nth-child(2) {
  background: url("../img/foot.png") 40px -60px no-repeat;
}
#footer .foot-ad li:nth-child(3) {
  background: url("../img/foot.png") 40px -120px no-repeat;
}
#footer .foot-ad li:nth-child(4) {
  background: url("../img/foot.png") 40px -180px no-repeat;
}
#footer .foot-ad li:not(:first-child) {
  border-left: 1px solid #DDDDDD;
}
#footer .foot-logo {
  height: 210px;
  border-bottom: 1px solid #ddd;
}
#footer .foot-logo img {
  margin: 16px 0px 0 70px;
  float: left;
}
#footer .foot-logo ul {
  float: left;
  margin: 20px 0 0 30px;
}
#footer .foot-logo ul a {
  font-size: 14px;
  color: #999999;
}
#footer .foot-logo ul li {
  margin: 10px 0;
}
#footer .foot-logo ul li:first-child {
  margin-bottom: 25px;
}
#footer .foot-logo ul li:first-child a {
  font-size: 16px;
  color: #000;
}
#footer .foot-© {
  text-align: center;
}
#footer .foot-© a {
  color: #64A131;
}
#footer .foot-© :hover {
  text-decoration: none;
}
/******  登录页面  ********/
#login_page {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-top: 30px;
}
#login_page p {
  font-size: 20px;
  color: #9999A5;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
}
#login_page .login_img {
  display: inline-block;
  position: relative;
}
#login_page .login_img img {
  margin-top: 20px;
}
#login_page .login_img a {
  position: absolute;
  left: 180px;
  top: 354px;
  width: 153px;
  height: 50px;
}
#login_page .login_form {
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
  position: relative;
  top: 110px;
}
#login_page .login_form > form > div:first-child {
  margin-bottom: 40px;
}
#login_page .login_form label {
  width: 80px;
  text-align: right;
  color: #c7c7c7;
  font-weight: normal;
}
#login_page .login_form :nth-child(3) > label {
  width: 100px;
}
#login_page .login_form input:first-child {
  width: 18px;
  height: 18px;
  vertical-align: sub;
}
#login_page .login_form input:not(:first-child) {
  width: 327px;
  height: 44px;
  padding: 10px;
  margin-left: 20px;
}
#login_page .login_form :focus {
  outline-color: #64A131;
}
#login_page .login_form form > div:nth-child(3) {
  margin-left: 90px;
}
#login_page .login_form form > div:nth-child(3) label {
  margin-right: 95px;
}
#login_page .login_form form > div:nth-child(3) a {
  color: #c7c7c7;
  text-decoration: underline;
}
#login_page .login_form button {
  width: 143px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  margin-right: 35px;
}
#login_page .login_form button:first-child {
  color: #fff;
  background: #64A131;
  margin-left: 104px;
}
#login_page .login_form button:last-child {
  color: #64A131;
  background: transparent;
  border: 1px solid #64A131;
}
/*******  注册页面 ******/
#reg_page {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-top: 30px;
}
#reg_page p {
  font-size: 20px;
  color: #9999A5;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
}
#reg_page .reg_img {
  display: inline-block;
  position: relative;
}
#reg_page .reg_img img {
  margin-top: -93px;
}
#reg_page .reg_img a {
  position: absolute;
  left: 180px;
  top: 242px;
  background: #fff;
  border: 1px solid #64A131;
  border-radius: 5px;
  width: 153px;
  height: 48px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: #64A131;
}
#reg_page .reg_img :hover {
  text-decoration: none;
}
#reg_page .reg_form {
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
  position: relative;
  top: 110px;
}
#reg_page .reg_form > form > div {
  margin-bottom: 40px;
}
#reg_page .reg_form label {
  width: 80px;
  text-align: right;
  color: #c7c7c7;
  font-weight: normal;
}
#reg_page .reg_form :nth-child(3) > label {
  width: 80px;
}
#reg_page .reg_form input:first-child {
  width: 18px;
  height: 18px;
  vertical-align: sub;
}
#reg_page .reg_form input:not(:first-child) {
  width: 327px;
  height: 44px;
  padding: 10px;
  margin-left: 20px;
}
#reg_page .reg_form :focus {
  outline-color: #64A131;
}
#reg_page .reg_form button {
  width: 143px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  margin-right: 35px;
}
#reg_page .reg_form button:first-child {
  color: #fff;
  background: #64A131;
  margin-left: 104px;
}
#reg_page .reg_form button:last-child {
  color: #64A131;
  background: rgba(200, 255, 189, 0.51);
  border: 1px solid #64A131;
}
/*导航横幅广告*/
.nav_ad_big {
  height: 400px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.nav_ad_big img {
  height: 400px;
}
.nav_ad_big > ul {
  width: 8550px;
}
.nav_ad_big > ul > li {
  float: left;
  width: 16.666%;
}
/*导航横幅广告按钮*/
.nav_ad_big_button ul {
  position: absolute;
  bottom: 20px;
  left: 640px;
}
.nav_ad_big_button ul li {
  list-style: none;
  float: left;
  margin-right: 16px;
}
.nav_ad_big_button a {
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  border: 1px solid #64A131;
}
.nav_ad_big_button a a:hover {
  background: #64A131;
}
.nav_ad_big_button .actived a {
  background: #64A131;
}
/*4幅小导航广告图*/
#nav_smallAd_4 {
  width: 91%;
  margin: 0 auto;
}
#nav_smallAd_4 a {
  text-decoration: none;
}
#nav_smallAd_4 img {
  margin: 3px 10px;
}
/*果园推荐*/
#main01 {
  width: 90%;
  margin: 0 auto;
}
#main01 .topAd {
  text-align: right;
  margin: 25px auto -30px auto;
  padding: 15px 0;
  border-top: 1px solid #999;
}
#main01 .topAd span {
  line-height: 50px;
}
#main01 .topAd span img {
  float: left;
}
#main01 .topAd span a {
  color: #000;
}
#main01 .main_list {
  float: left;
  margin-bottom: 30px;
  margin-top: 50px;
}
#main01 .main_list > div {
  width: 250px;
  height: 615px;
  overflow: hidden;
  float: left;
}
#main01 .main_list > div :hover img {
  transition: 0.5s;
  transform: scale(1.1);
}
#main01 .main_list li {
  float: left;
  margin-left: 8px;
  margin-top: 10px;
  height: 316px;
}
#main01 .main_list li .hot2 {
  width: 248px;
  height: 248px;
  overflow: hidden;
}
#main01 .main_list li .hot2 img {
  width: 248px;
  height: 248px;
}
#main01 .main_list li .hot2 :hover {
  transition: 0.5s;
  transform: scale(1.1);
}
#main01 .main_list li > div {
  float: left;
  padding: 0 5px;
  position: relative;
  top: -338px;
  color: #fff;
}
#main01 .main_list li > a {
  text-decoration: none;
}
#main01 .main_list li > a div:nth-child(2) {
  color: #555;
  padding: 5px 0;
}
#main01 .main_list li > a div:nth-child(3) {
  color: #999;
}
#main01 .main_list li a.car {
  background: url("../img/car01.png") no-repeat 0px 0px;
  width: 38px;
  height: 40px;
  position: relative;
  top: -40px;
  left: 210px;
  transition: 0.5s;
  display: block;
  outline: none;
}
#main01 .main_list li a.car:hover {
  background: url("../img/car01.png") no-repeat 0px -50px;
}
#main01 .main_list li:hover {
  box-shadow: 0 0 6px 0;
}
#main01 .cow_meet {
  width: 1280px;
  margin-bottom: 30px;
}
/*模态框*/
#zhezhao {
  z-index: 50;
  background: #000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  display: none;
  transition: 1.5s;
}
#modal {
  background: #fff;
  border: 5px solid rgba(0, 0, 0, 0.6);
  width: 35%;
  height: 277px;
  margin: auto;
  position: fixed;
  top: 28%;
  left: 33%;
  z-index: 200;
  display: none;
}
#modal div:first-child {
  width: 100%;
  height: 50px;
  background: #EAEAEA;
  text-align: right;
}
#modal div:first-child a {
  font-size: 50px;
  line-height: 43px;
  padding-right: 10px;
  color: #000;
  text-decoration: none;
}
#modal div:nth-child(2) {
  width: 100%;
  margin-top: 20px;
}
#modal div:nth-child(2) img {
  margin-left: 85px;
  vertical-align: bottom;
}
#modal div:nth-child(2) span {
  font-size: 30px;
  line-height: 75px;
}
#modal > span {
  margin-left: 81px;
}
#modal span {
  font-size: 19px;
  color: #A2A2A2;
}
#modal div:last-child {
  margin-left: 95px;
  margin-top: 20px;
}
#modal div:last-child a {
  width: 147px;
  height: 40px;
  font-size: 17px;
}
#modal div:last-child a:first-child {
  margin-right: 7px;
  border: 1px solid #64A131;
  background: #F5FFED;
  color: #64A131;
}
#modal div:last-child a:last-child {
  background: #64A131;
  color: #fff;
}
/*购物车页面*/
#jiesuan_detail {
  width: 70%;
  padding-top: 50px;
  margin-bottom: 50px;
}
#jiesuan_detail > div.top_bar {
  text-align: right;
}
#jiesuan_detail > div.top_bar span:first-child {
  width: 124px;
  font-size: 18px;
  color: #000;
  float: left;
  line-height: 29px;
  background: url("../img/icons.png") -522px -331px no-repeat;
}
#jiesuan_detail > div.top_bar span:last-child {
  text-align: right;
  line-height: 33px;
}
#jiesuan_detail > div.top_bar span:last-child a {
  color: #64A131;
}
#jiesuan_detail > div.jiesuan_body > table:first-child {
  width: 100%;
}
#jiesuan_detail > div.jiesuan_body > table:first-child thead > tr {
  height: 55px;
  border: 1px solid #D8D8D8;
  background: #F1F1F1;
  color: #AFAFAF;
}
#jiesuan_detail > div.jiesuan_body > table:first-child tbody tr {
  border: 1px solid #D8D8D8;
  height: 145px;
}
#jiesuan_detail > div.jiesuan_body > table:first-child tbody tr > td {
  vertical-align: top;
  padding-top: 15px;
}
#jiesuan_detail > div.jiesuan_body > table:first-child tbody tr > td button {
  width: 36px;
  height: 25px;
  line-height: 0;
  background: #EEEEEE;
}
#jiesuan_detail > div.jiesuan_body > table:first-child tbody tr > td input {
  width: 55px;
  height: 25px;
}
#jiesuan_detail > div.jiesuan_body > table:first-child tbody tr > td:first-child {
  text-align: inherit;
}
#jiesuan_detail > div.jiesuan_body > table:first-child tbody tr > td:first-child div {
  margin-left: 55px;
  margin-right: 10px;
  display: inline-block;
}
#jiesuan_detail > div.jiesuan_body > table:first-child tbody tr > td:first-child div img {
  width: 100px;
  height: 100px;
  vertical-align: top;
}
#jiesuan_detail > div.jiesuan_body > table:first-child td {
  text-align: center;
}
#jiesuan_detail > div.jiesuan_body > table.last {
  width: 100%;
  background: #FFF9EB;
}
#jiesuan_detail > div.jiesuan_body > table.last tr {
  width: 100%;
  height: 50px;
  border: 1px solid #D8D8D8;
  border-top: 0;
}
#jiesuan_detail > div.jiesuan_body > table.last tr a {
  width: 65px;
  height: 25px;
  line-height: 12px;
}
#jiesuan_detail > div.jiesuan_body > table.last tr td:first-child {
  text-align: right;
  padding-right: 30px;
}
#jiesuan_detail > div.jiesuan_body > table.last tr td:last-child {
  text-align: left;
  color: #64A131;
}
#jiesuan_detail > div.jiesuan_body div.pay {
  width: 100%;
  height: 55px;
  margin-top: 20px;
  float: right;
  border: 1px solid #64A131;
  background: #F5FFED;
  text-align: right;
}
#jiesuan_detail > div.jiesuan_body div.pay > span {
  display: inline-block;
  line-height: 55px;
  color: #999999;
  font-size: 16px;
}
#jiesuan_detail > div.jiesuan_body div.pay button {
  float: right;
  margin-left: 20px;
  width: 140px;
  height: 53px;
  font-size: 23px;
  border-radius: inherit;
  background: #64A131;
  color: #fff;
}
/***** 商品详情页 *****/
div.page {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 35px;
}
div.page ul > li {
  float: left;
  color: #999999;
}
div.page ul > li a {
  text-decoration: none;
  color: #64A131;
}
div.detail_left_pic {
  width: 100%;
  height: 650px;
  margin-left: 70px;
}
div.detail_left_pic div,
div.detail_left_pic ul:before {
  content: ' ';
  clear: none;
}
div.detail_left_pic div,
div.detail_left_pic ul:after {
  content: ' ';
  clear: none;
}
div.sm_pic {
  width: 150px;
  height: 600px;
  float: left;
}
div.sm_pic img {
  width: 145px;
}
div.sm_pic li {
  border: 1px solid transparent;
}
div.sm_pic li:hover {
  border: 1px solid #F6AF0D;
}
div.lg_pic {
  float: left;
}
div.lg_pic img {
  width: 580px;
  height: 588px;
}
div.detail_right_info {
  margin-left: 30px;
  margin-top: 20px;
  float: left;
}
div.detail_right_info > div:first-child i {
  display: inline-block;
  width: 45px;
  height: 30px;
  background: url('../img/icons.png') -450px -255px no-repeat;
}
div.detail_right_info > div:first-child span {
  font-size: 25px;
  color: #555555;
  vertical-align: super;
  margin-left: 10px;
}
div.detail_right_info > span {
  color: #999999;
  font-size: 16px;
  margin-left: 55px;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}
div.detail_right_info > div:nth-child(3) {
  width: 550px;
  height: 78px;
  background: url('../img/icons.png') 0 -50px;
}
div.detail_right_info > div:nth-child(3) > span {
  display: inline-block;
  margin-top: 25px;
}
div.detail_right_info > div:nth-child(3) :first-child {
  font-size: 15px;
  color: #999999;
  margin-left: 10px;
}
div.detail_right_info > div:nth-child(3) :nth-child(2) {
  color: #64A131;
  font-size: 23px;
  font-weight: bold;
  margin-left: 10px;
}
div.detail_right_info > div:nth-child(3) :last-child {
  display: inline-block;
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 25px;
  margin-right: 25px;
  background: url('../img/icons.png') -64px -8px no-repeat;
}
div.detail_right_info > div:nth-child(4) {
  margin: 20px 0;
}
div.detail_right_info > div:nth-child(4) > span {
  color: #999999;
  margin-left: 10px;
}
div.detail_right_info > div:nth-child(4) button {
  font-size: 13px;
  margin-left: 30px;
  width: 68px;
  height: 25px;
  background: #64A131;
  color: #fff;
  outline: none;
  border-width: 1px;
}
div.detail_right_info > div:nth-child(5) > span {
  color: #999999;
  margin-left: 10px;
}
div.detail_right_info > div:nth-child(5) > a {
  display: inline-block;
  width: 80px;
  height: 37px;
  border: 1px solid #DDDDDD;
  color: #000000;
  text-decoration: none;
  padding-top: 8px;
  padding-left: 10px;
  margin-left: 16px;
}
div.detail_right_info > div:nth-child(5) > a > i {
  display: inline-block;
  margin-left: 15px;
  width: 15px;
  height: 10px;
  background: url('../img/icons.png') -530px -195px no-repeat;
}
div.detail_right_info > div:nth-child(5) > span:last-child {
  color: #64A131;
}
div.detail_right_info > div:nth-child(6) {
  margin: 20px 0;
}
div.detail_right_info > div:nth-child(6) > span {
  color: #999999;
  margin-left: 10px;
  margin-right: 30px;
}
div.detail_right_info > div:nth-child(6) > button {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 25px;
  outline: none;
  border: 1px solid #DDDDDD;
  background: #EEEEEE;
  color: #A6A6A6;
}
div.detail_right_info > div:nth-child(6) > input {
  border: 1px solid #DDDDDD;
  vertical-align: top;
  margin: 0 -6px;
  padding: 0;
  width: 40px;
  height: 25px;
  text-align: center;
}
div.detail_right_info > a:nth-child(7) {
  background: #F5FFED;
  color: #7DAF57;
  border: 1px solid #64A131;
  width: 160px;
  height: 35px;
  margin-left: 72px;
  font-size: 16px;
}
div.detail_right_info > a:nth-child(8) {
  width: 160px;
  height: 35px;
  background: #64A131;
  color: #fff;
  font-size: 16px;
}
div.detail_right_info div.detail_right_info_tips {
  margin-top: 25px;
  border-top: 1px solid #DDDDDD;
  padding-top: 40px;
}
div.detail_right_info div.detail_right_info_tips > ul:first-child {
  float: left;
}
div.detail_right_info div.detail_right_info_tips > ul:last-child {
  float: right;
  margin-right: 120px;
}
div.detail_right_info div.detail_right_info_tips > ul > li {
  color: #999999;
  margin-bottom: 15px;
}
div.detail_right_info div.detail_right_info_tips > ul > li > span {
  color: #555555;
  margin-left: 17px;
}
div.detail_right_info div.detail_right_info_tips > ul:first-child > li:first-child > span {
  display: inline-block;
  width: 75px;
  height: 15px;
  background: url('../img/tiandu.png') no-repeat;
}
div.item_info {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}
div.item_info > .item_info_page {
  width: 80%;
  height: 40px;
  border: 1px solid #CCCCCC;
  background: #F1F1F1;
}
div.item_info > .item_info_page > a {
  color: #555555;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
}
div.item_info > .item_info_page > a > span {
  color: #64A131;
  font-weight: bold;
}
div.item_info > .item_info_page > a:last-child {
  float: right;
  width: 185px;
  height: 100%;
  line-height: 40px;
  color: #fff;
  background: url('../img/icons.png') -505px 5px no-repeat #64a131;
  text-align: center;
  padding-left: 10px;
}
div.item_info > .item_info_page > a:not(:last-child) {
  float: left;
  text-align: center;
  width: 185px;
  height: 100%;
  line-height: 40px;
  border-right: 1px solid #CCCCCC;
}
div.item_info > .item_info_page > a.active {
  background: #fff;
  border-top: 2.5px solid #64A131;
}
div.item_info > .item_info_introduce > ul {
  float: left;
}
div.item_info > .item_info_introduce > ul > li {
  background: #F7F7F7;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #D8D8D8;
}
div.item_info > .item_info_introduce > ul > li:nth-child(2) {
  background: #fff;
}
div.item_info > .item_info_introduce > ul:first-child > li {
  font-weight: bold;
  width: 90px;
  border-right: 1px solid #D8D8D8;
  border-left: 2px solid #D8D8D8;
}
div.item_info > .item_info_introduce > ul:nth-child(2) > li {
  width: 935px;
  border-right: 2px solid #D8D8D8;
}
div.item_info > .item_info_introduce > div > img {
  width: 80%;
}
div.item_info > .item_info_comment {
  display: none;
}
div.item_info > .item_info_comment > .comment_grade {
  width: 80%;
  height: 180px;
  border: 1px solid #E9E9E9;
  border-top: 0;
  border-bottom: 1px solid #D0D0D0;
  position: relative;
  top: -1px;
  background: #fff;
}
div.item_info > .item_info_comment > .comment_grade div,
div.item_info > .item_info_comment > .comment_grade ul:before {
  content: ' ';
  clear: none;
}
div.item_info > .item_info_comment > .comment_grade div,
div.item_info > .item_info_comment > .comment_grade ul:after {
  content: ' ';
  clear: none;
}
div.item_info > .item_info_comment > .comment_grade > div:first-child {
  font-size: 40px;
  color: #F6AB00;
  padding-top: 65px;
  padding-left: 50px;
  width: 120px;
  line-height: 20px;
  text-align: center;
  float: left;
}
div.item_info > .item_info_comment > .comment_grade > div:first-child > span {
  font-size: 14px;
  color: #000;
}
div.item_info > .item_info_comment > .comment_grade > div:nth-child(2) {
  float: left;
  margin-top: 48px;
  margin-left: 102px;
}
div.item_info > .item_info_comment > .comment_grade > div:nth-child(2) > ul:first-child {
  border-left: 1px solid #d5d5d5;
  padding: 0 20px;
}
div.item_info > .item_info_comment > .comment_grade > div:nth-child(2) > ul:last-child {
  border-right: 1px solid #d5d5d5;
  padding: 0 20px;
}
div.item_info > .item_info_comment > .comment_grade > div:nth-child(2) > ul {
  float: left;
}
div.item_info > .item_info_comment > .comment_grade > div:nth-child(2) > ul > li {
  line-height: 28px;
}
div.item_info > .item_info_comment > .comment_grade > div:nth-child(2) > ul > li:first-child {
  margin-top: -6px;
}
div.item_info > .item_info_comment > .comment_grade > div:nth-child(2) > img {
  float: left;
}
div.item_info > .item_info_comment > .comment_grade > div:nth-child(3) {
  float: left;
  padding-top: 55px;
  padding-left: 45px;
}
div.item_info > .item_info_comment > .comment_grade > div:nth-child(3) > span {
  margin-left: 105px;
  line-height: 35px;
}
div.item_info > .item_info_comment > .comment_page {
  background: #EEEEEE;
  width: 80%;
  height: 35px;
  border: 1px solid #D0D0D0;
  border-top: 0;
  line-height: 35px;
  margin-top: -1px;
}
div.item_info > .item_info_comment > .comment_page ul > li {
  float: left;
  margin-left: 20px;
}
div.item_info > .item_info_comment > .comment_page ul > li > a {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #EEEEEE;
  background: #fff;
  margin-right: 10px;
}
div.item_info > .item_info_comment > .comment_page a.active {
  background: #F6AB00;
}
div.item_info > .item_info_comment > .comment_content {
  width: 80%;
  float: left;
  border: 1px solid #d5d5d5;
  border-top: 0;
}
div.item_info > .item_info_comment > .comment_content div:first-child {
  float: left;
  text-align: center;
  margin: 10px 30px;
}
div.item_info > .item_info_comment > .comment_content > ul {
  float: left;
  margin-top: 25px;
}
div.item_info > .item_info_comment > .comment_content > ul > li {
  margin-bottom: 15px;
}
div.item_info > .item_info_comment > .comment_content > ul > li:first-child img {
  margin-left: 12px;
}
div.item_info > .item_info_comment > .comment_content > ul > li:nth-child(2) span {
  margin-left: 15px;
}
div.item_info > .item_info_comment > .comment_content > ul > li:nth-child(3) img {
  margin-left: 12px;
}
div.item_info > .item_info_comment > .comment_content > ul > li:last-child {
  padding-left: 47px;
}
div.item_info > .comment_content_page {
  display: none;
  width: 80%;
  height: 45px;
  background: #F1F1F1;
  border: 1px solid #DFDFDF;
  border-bottom: 1px solid #CFCFCF;
  border-top: 0;
  text-align: center;
}
div.item_info > .comment_content_page > ul {
  margin-left: 350px;
}
div.item_info > .comment_content_page > ul > li {
  float: left;
  margin-right: 25px;
  margin-top: 10px;
  line-height: 25px;
}
div.item_info > .comment_content_page > ul > li > a {
  text-decoration: none;
  color: #838383;
}
div.item_info > .comment_content_page > ul > li > a.active {
  color: #fff;
  background: #64A131;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
/******** fruit_page ********/
div.item_page > ul {
  margin: auto;
  padding: 6px 0;
  width: 90%;
  height: 40px;
  border-bottom: 2px solid #E4E4E4;
}
div.item_page > ul > li {
  float: left;
  margin: 5px 0;
}
div.item_page > ul > li > a {
  margin-right: 15px;
  color: #000;
  text-decoration: none;
}
div.item_page > ul > li > a.active {
  padding: 2px 8px;
  color: #fff;
  background: #64A131;
}
div.item_page > ul > li:first-child {
  color: #999999;
  margin-right: 20px;
}
div.item_page > ul:last-child {
  border: 0;
  background: #F0F0F0;
}
div.item_fruit_page {
  width: 90%;
  margin: auto;
}
div.item_fruit_page > ul > li {
  float: left;
  margin: 15px 15px 15px 0;
}
div.item_fruit_page > ul > li > img {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}
div.item_fruit_page > ul > li > div:nth-child(2) {
  margin-bottom: 5px;
}
div.item_fruit_page > ul > li > div:nth-child(2) > span {
  float: right;
  color: #A3A2A1;
}
div.item_fruit_page > ul > li > div:nth-child(3) > div {
  display: inline-block;
  border: 1px solid #DDDDDD;
  padding: 0 5px;
  color: #9C9C9C;
  margin-left: 5px;
}
div.item_fruit_page > ul > li > div:nth-child(3) > a {
  float: right;
  width: 40px;
  height: 40px;
  background: url("../img/car01.png") no-repeat;
}
div.item_fruit_page li:hover {
  transition: 1s;
  box-shadow: 0 0 10px 0;
}
/******** 个人中心  ********/
div.vipClub {
  width: 70%;
  height: 600px;
  margin: 40px auto;
}
div.vipClub div.left_card {
  float: left;
}
div.vipClub div.left_card > ul {
  border: 1px solid #ddd;
}
div.vipClub div.left_card > ul > li > a.active {
  background: #64A131;
  color: #fff;
  font-size: 18px;
}
div.vipClub div.left_card > ul > li:nth-child(8) {
  border-bottom: 1px solid #ddd;
}
div.vipClub div.left_card > ul > li:nth-child(10) {
  border-bottom: 1px solid #ddd;
}
div.vipClub div.left_card > ul > li:last-child {
  border-top: 1px solid #ddd;
}
div.vipClub div.left_card > ul > li > a {
  display: block;
  padding: 5px 0;
  width: 200px;
  height: 100%;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  font-size: 15px;
}
div.vipClub div.right_info {
  display: inline-block;
  margin-left: 35px;
  width: 75%;
}
div.vipClub div.right_info div.right_info_top {
  border: 1px solid #ddd;
  height: 175px;
  width: 110%;
}
div.vipClub div.right_info div.right_info_top > div:first-child {
  display: inline-block;
  width: 45%;
  height: 100%;
  background: #64A131;
}
div.vipClub div.right_info div.right_info_top > div:first-child > img {
  margin-left: 20px;
  margin-top: 10px;
}
div.vipClub div.right_info div.right_info_top > div:first-child > div {
  padding-top: 20px;
  padding-right: 30px;
  float: right;
  width: 50%;
  height: 100%;
  color: #fff;
}
div.vipClub div.right_info div.right_info_top > div:first-child > div > p {
  font-size: 15px;
  margin: 0;
}
div.vipClub div.right_info div.right_info_top > div:first-child > p > a {
  color: #fff;
  margin-left: 38px;
  text-decoration: underline;
}
div.vipClub div.right_info div.right_info_top > div:nth-child(2) {
  display: inline-block;
  width: 55%;
  float: right;
  height: 100%;
}
div.vipClub div.right_info div.right_info_top > div:nth-child(2) > ul {
  float: left;
  font-size: 18px;
  margin-top: 40px;
  margin-left: 28px;
}
div.vipClub div.right_info div.right_info_top > div:nth-child(2) > ul > li:nth-child(1) {
  color: #64A131;
  padding-bottom: 10px;
}
div.vipClub div.right_info div.right_info_top > div:nth-child(2) > ul > li:nth-child(2) {
  color: #000;
  padding-bottom: 10px;
}
div.vipClub div.right_info div.right_info_top > div:nth-child(2) > ul > li:nth-child(3) > a {
  color: #64A131;
}
div.vipClub div.right_info div.right_info_top > div:nth-child(2) > ul:not(:last-child) {
  border-right: 1px solid #ddd;
  padding-right: 30px;
}
div.vipClub div.right_info div.right_info_top > div:nth-child(3) > div {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  background: #F1F1F1;
  line-height: 40px;
  color: #999999;
}
div.vipClub div.right_info div.right_info_top > div:nth-child(3) > div > span {
  padding-left: 10px;
}
div.vipClub div.right_info div.right_info_top > div:nth-child(3) > div > ul {
  float: right;
  padding-right: 10px;
}
div.vipClub div.right_info div.right_info_top > div:nth-child(3) > div > ul > li {
  float: left;
  padding: 0 10px;
}
