<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/index.css"/>
  <script src="js/jquery-1.11.3.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/my/shoppingCart.js"></script>
  <title></title>
</head>
<body ng-controller="mainCtrl">
<div id="header"></div>
<div id="header_white">
  <!--果园logo-->
  <a href="index_00.html" class="logo"></a>
  <!--果园导航-->
  <ul>
    <li>
      <a href="">
        首页
        <span>Home</span>
      </a>
      <i></i>
    </li>
    <li>
      <a href="">
        鲜果
        <span>Fruit</span>
      </a>
      <i></i>
    </li>
    <li>
      <a href="">
        生鲜
        <span>Fresh</span>
      </a>
      <i></i>
    </li>
    <li>
      <a href="">
        礼品
        <span>Gift</span>
      </a>
      <i></i>
    </li>
    <li>
      <a href="">
        会员中心
        <span>VIP Club</span>
      </a>
      <i></i>
    </li>
  </ul>
  <!--搜索框-->
  <div class="search_bar">
    <form>

      <input id="search" type="text" value="奇异果"/>
      <a href=""> <span class="glyphicon glyphicon-search"></span> </a>

      <p>热门: <a href="">橙子</a> <a href="">提子</a> <a href="">蓝莓</a> <a href="">苹果</a></p>

    </form>
  </div>
  <!--购物车-->
  <div class="shopping_car">
    <a href="#"><img src="img/car_count.png" alt=""/></a>

    <p ng-bind="smCarCount"></p>

    <div class="car_detail">
      <ul id="car_detail">
        <li ng-repeat="l in smCarList">

          <div>
            <div class="car_detail_pic">
              <img ng-src="img/{{l.pic}}" ng-click=""/>
            </div>

            <div class="car_detail_content">
              <p style="margin: 0">{{l.pname}}</p>

              <p>￥{{l.price}}/{{l.guige}}</p>

              <div>
                <button ng-click="Reduce($event)" data="{{l.did}}" ng-disabled="{{l.count}} < 2">-</button>
                <input type="text" value="{{l.count}}"/>
                <button ng-click="Add($event)" data="{{l.did}}">+</button>
                <a href="" ng-click="Delete($event)" data="{{l.did}}" data-num="{{l.count}}">删除</a>
              </div>
            </div>
          </div>

        </li>

      </ul>
      <div class="car_count">
        <div>
          <span>共 <span>{{smCarCount}}</span> 件商品</span>

          <span>商品小计</span>
          <span>{{smCarPrice}}</span>
        </div>
        <a href="jiesuan.html" class="btn btn-success">立即结算</a>
      </div>

    </div>
    <div class="car_detail_none">
      <div>购物车中还没有商品，赶快添加吧！</div>
    </div>
  </div>
</div>

<!--页签-->
<div class="page">
  <ul>
    <li><a href="">首页 ></a></li>
    <li><a href="">新鲜水果 ></a></li>
    <li>橙先生-美国脐橙</li>
  </ul>
</div>
<!--详情左侧图片-->
<div class="detail_left_pic">
  <div class="sm_pic">
    <ul>
      <li><a href=""><img src="img/fresh01.jpg" alt=""/></a></li>
      <li><a href=""><img src="img/fresh02.jpg" alt=""/></a></li>
      <li><a href=""><img src="img/fresh03.jpg" alt=""/></a></li>
      <li><a href=""><img src="img/fresh04.jpg" alt=""/></a></li>
    </ul>
  </div>
  <div class="lg_pic">
    <img src="img/fresh01.jpg" alt=""/>
  </div>

  <!--详情右侧信息-->
  <div class="detail_right_info">
    <div><i><!--背景图--></i><span>橙先生-美国脐橙</span></div>
    <span>冲破寒冬 我就是更甜</span>
    <div>
      <!--背景图-->
      <span>果园价</span>
      <span>￥99.00</span>
      <div><!--二维码--></div>
    </div>
    <div>
      <span>规格</span>
      <button>12个</button>
    </div>
    <div>
      <span>配送至</span>
      <a href="">上海<i></i></a>
      <span>有货</span>
    </div>
    <div>
      <span>数量</span>
      <button>-</button>
      <input type="text" value="1"/>
      <button>+</button>
    </div>
    <a href="" class="btn btn-default">立即购买</a>
    <a href="" class="btn btn-default">加入购物车</a>

    <div class="detail_right_info_tips">
      <ul>
        <li>甜度 <span><!--背景图--></span></li>
        <li>存储方法 <span>0°冷藏</span></li>
        <li>商品编号 <span>2170314104</span></li>
      </ul>
      <ul>
        <li>产地 <span>美国</span></li>
        <li>备注 <span>单个重200-250g</span></li>
      </ul>
    </div>
  </div>

</div>
<!--商品简介及顾客评论-->
<div class="item_info">
  <!--页签-->
  <div class="item_info_page">
    <a href="" id="introduce" class="active">商品简介</a>
    <a href="" id="comment">顾客评论<span>(147)</span></a>
    <a href=""><!--背景图-->加入购物车</a>
  </div>
  <!--商品简介-->
  <div class="item_info_introduce">
    <ul>
      <li>产地</li>
      <li>储藏方法</li>
      <li>水果甜度</li>
    </ul>
    <ul>
      <li>美国</li>
      <li>0°及以上冷藏</li>
      <li>3星</li>
    </ul>
    <div>
      <img src="img/detail_info.png" alt=""/>
    </div>
  </div>
  <!--顾客评论-->
  <div class="item_info_comment">
    <div class="comment_grade">
      <div>
        97%
        <span>好评度</span>
      </div>
      <div>
        <ul>
          <li>不错哟</li>
          <li>待提高</li>
          <li>小失落</li>
        </ul>
        <img src="img/grade.png" alt=""/>
        <ul>
          <li>97%</li>
          <li>3%</li>
          <li>0%</li>
        </ul>
      </div>
      <div>
        <span>发布评价即可获得10积分，</span>
        <p>APP上传图片并晒单即可获得20积分，前5名可获双倍积分。</p>
      </div>
    </div>
    <div class="comment_page">
        <ul>
          <li><a href="" class="active"></a>全部评论 ( 147 )</li>
          <li><a href=""></a>不错哟 ( 143 )</li>
          <li><a href=""></a>待提高 ( 4 )</li>
          <li><a href=""></a>小失落 ( 0 )</li>
        </ul>
    </div>
    <div class="comment_content">
      <div>
        <img src="img/comment_head.png" alt=""/>
        <div>user_name</div>
      </div>
      <ul>
        <li>评分 <img src="img/5start.png" alt=""/> </li>
        <li>内容 <span>酸甜适宜，水分充足，很好吃。</span></li>
        <li>晒图 <img src="img/comment_content.png" alt=""/></li>
        <li>2017-03-26 22:35:07</li>
      </ul>
    </div>
    <div class="comment_content">
      <div>
        <img src="img/comment_head.png" alt=""/>
        <div>user_name</div>
      </div>
      <ul>
        <li>评分 <img src="img/5start.png" alt=""/> </li>
        <li>内容 <span>酸甜适宜，水分充足，很好吃。</span></li>
        <li>晒图 <img src="img/comment_content.png" alt=""/></li>
        <li>2017-03-26 22:35:07</li>
      </ul>
    </div>
    <div class="comment_content">
      <div>
        <img src="img/comment_head.png" alt=""/>
        <div>user_name</div>
      </div>
      <ul>
        <li>评分 <img src="img/5start.png" alt=""/> </li>
        <li>内容 <span>酸甜适宜，水分充足，很好吃。</span></li>
        <li>晒图 <img src="img/comment_content.png" alt=""/></li>
        <li>2017-03-26 22:35:07</li>
      </ul>
    </div>
  </div>
  <!--评论分页-->
  <div class="comment_content_page">
    <ul>
      <li><a href="">< 首页</a></li>
      <li><a href="">上一页</a></li>
      <li><a href="" class="active">1</a></li>
      <li><a href="">2</a></li>
      <li><a href="">3</a></li>
      <li><a href="">下一页</a></li>
      <li><a href="">最后一页 ></a></li>
    </ul>
  </div>
</div>





<div id="footer"></div>
</body>
</html>