<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/index.css"/>
  <script src="js/angular.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/jquery-1.11.3.js"></script>
  <title></title>
</head>
<body ng-controller="mainCtrl">
<div id="header"></div>
<!--白色导航条-->
<div id="header_white">
  <!--果园logo-->
  <a href="index_00.html" class="logo"></a>
  <!--果园导航-->
  <ul>
    <li>
      <a href="index_00.html">
        首页
        <span>Home</span>
      </a>
      <i></i>
    </li>
    <li>
      <a href="fruit_page.html">
        鲜果
        <span>Fruit</span>
      </a>
      <i></i>
    </li>
    <li>
      <a href="fresh_page.html">
        生鲜
        <span>Fresh</span>
      </a>
      <i></i>
    </li>
    <li class="active">
      <a href="gift_page.html">
        礼品
        <span>Gift</span>
      </a>
      <i></i>
    </li>
    <li>
      <a href="vip_page.html">
        会员中心
        <span>VIP Club</span>
      </a>
      <i></i>
    </li>
  </ul>
  <!--搜索框-->
  <div class="search_bar">
    <form>

      <input id="search" type="text" value="奇异果"/>
      <a href=""> <span class="glyphicon glyphicon-search"></span> </a>

      <p>热门: <a href="">橙子</a> <a href="">提子</a> <a href="">蓝莓</a> <a href="">苹果</a></p>

    </form>
  </div>
  <!--购物车-->
  <div class="shopping_car">
    <a href="#"><img src="img/car_count.png" alt=""/></a>

    <p ng-bind="smCarCount"></p>

    <div  class="car_detail">
      <ul id="car_detail">
        <li ng-repeat="l in smCarList">

          <div>
            <div class="car_detail_pic">
              <img ng-src="img/{{l.pic}}" ng-click=""/>
            </div>

            <div class="car_detail_content">
              <p style="margin: 0">{{l.pname}}</p>

              <p>￥{{l.price}}/{{l.guige}}</p>

              <div>
                <button ng-click="Reduce($event)" data="{{l.did}}" ng-disabled="{{l.count}} < 2">-</button>
                <input type="text" value="{{l.count}}"/>
                <button ng-click="Add($event)" data="{{l.did}}">+</button>
                <a href="" ng-click="Delete($event)" data="{{l.did}}" data-num="{{l.count}}">删除</a>
              </div>
            </div>
          </div>

        </li>

      </ul>
      <div class="car_count">
        <div>
          <span>共 <span>{{smCarCount}}</span> 件商品</span>

          <span>商品小计</span>
          <span>{{smCarPrice}}</span>
        </div>
        <a href="jiesuan.html" class="btn btn-success">立即结算</a>
      </div>

    </div>
    <div  class="car_detail_none">
      <div>购物车中还没有商品，赶快添加吧！</div>
    </div>
  </div>
</div>

<div class="item_page">
  <ul class="category">
    <li>场合</li>
    <li><a href=""  class="active">全部</a></li>
    <li><a href="">生日快乐</a> </li>
    <li><a href="">早日康复</a> </li>
    <li><a href="">走亲访友</a> </li>
    <li><a href="">宴席聚会</a> </li>
  </ul>

  <ul class="standard">
    <li>规格</li>
    <li><a href="" class="active">全部</a></li>
    <li><a href="">单品</a></li>
    <li><a href="">礼盒</a></li>
    <li><a href="">礼蓝</a></li>
    <li><a href="">券卡</a></li>
  </ul>
  <ul class="field">
    <li>产地</li>
    <li><a href="" class="active">全部</a></li>
    <li><a href="">100以下</a></li>
    <li><a href="">100~200</a></li>
    <li><a href="">200以上</a></li>
  </ul>
  <ul class="compositor">
    <li>排序</li>
    <li><a href="" class="active">默认</a></li>
    <li><a href="">价格从低到高</a></li>
    <li><a href="">价格从高到低</a></li>
  </ul>
</div>
<div class="item_fruit_page">
  <ul>
    <li ng-repeat="l in list">
      <img ng-src="img/{{l.pic}}"/>
      <div>{{l.pname}}<span>￥{{l.price}}</span></div>
      <div><div>{{l.guige}}</div><a href=""></a></div>
    </li>
  </ul>
</div>



<div id="footer"></div>
</body>
<script src="js/my/shoppingCart.js"></script>
</html>